html, body {
}

.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #000000;
    height: 150px;
    padding: 0px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

*, *:after, *:before {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.nav {
    background-color : '#000000' !important;
}


.container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stripe {
    height: 2px;
    width: auto;
}

.slopeBegin {
    background-color: #20232f;
    clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
    clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
}

.slopeBegin,
.slopeEnd {
    position: absolute;
    width: 140%;
    height: 100%;
    cursor: pointer;
}

.jss5 {
        background-color: #20f9ff !important;
}
.jss17 {
    margin: 0 !important;
    padding: 0 !important;
}

.tech img {
    filter: grayscale(100%);
}

hr {
    border: 0;
    clear: both;
    display: block;
    margin: 1rem auto;
    text-align: center;
    width: 100%;
}
/* -- Animated hr -- */

.progress {
    background: rgba(1, 15, 30, 0.01);
    height: 1px;
    overflow: hidden;
    position: relative;
}

.progress::before {
    animation-duration: 5.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-name: progress;
    background: #7f80ff;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 80px;
}

@keyframes progress {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1440px);
    }
}

footer {
    margin-top: '5%';
    bottom: 0;
    height: "5rem";
}
